h1{ font-size: 20px;
    text-align: center;
}
header{ text-align: center;
    background-color: rgb(191, 255, 191);

}
/* -------------------- */
/* ▼メニューバーの装飾 */
/* -------------------- */
ul.ddmenu {
    margin: 0px;               /* メニューバー外側の余白(ゼロ) */
    padding: 0px 0px 0px 15px; /* メニューバー内側の余白(左に15px) */
    background-color: rgb(191, 255, 191); /* バーの背景色(濃い赤色) */
 }
 
 /* -------------------------- */
 /* ▼メインメニュー項目の装飾 */
 /* -------------------------- */
 ul.ddmenu li {
    width: 125px;          /* メニュー項目の横幅(125px) */
    display: inline-block; /* ★横並びに配置する */
    list-style-type: none; /* ★リストの先頭記号を消す */
    position: relative;    /* ★サブメニュー表示の基準位置にする */
 }
 ul.ddmenu a {
    background-color: rgb(191, 255, 191); /* メニュー項目の背景色(濃い赤色) */
    color: green;              /* メニュー項目の文字色(白色) */
    line-height: 40px;         /* メニュー項目のリンクの高さ(40px) */
    text-align: center;        /* メインメニューの文字列の配置(中央寄せ) */
    text-decoration: none;     /* メニュー項目の装飾(下線を消す) */
    font-weight: bold;         /* 太字にする */
    display: block;            /* ★項目内全域をリンク可能にする */
 }
 ul.ddmenu a:hover {
    background-color: green; /* メニュー項目にマウスが載ったときの背景色(淡いピンク) */
    color: white;            /* メニュー項目にマウスが載ったときの文字色(濃い赤色) */
 }
 
 /* ---------------------------------- */
 /* ▼サブメニューがある場合に開く処理 */   /* ※サブメニューが1階層しか存在しない場合の記述 */
 /* ---------------------------------- */
 ul.ddmenu li:hover ul {
    display: block;      /* ★マウスポインタが載っている項目の内部にあるリストを表示する */
 }
 
 /* -------------------- */
 /* ▼サブメニューの装飾 */
 /* -------------------- */
 ul.ddmenu ul {
    margin: 0px;         /* ★サブメニュー外側の余白(ゼロ) */
    padding: 0px;        /* ★サブメニュー内側の余白(ゼロ) */
    display: none;       /* ★標準では非表示にする */
    position: absolute;  /* ★絶対配置にする */
 }
 
 /* ------------------------ */
 /* ▼サブメニュー項目の装飾 */
 /* ------------------------ */
 ul.ddmenu ul li {
    width: 135px;               /* サブメニュー1項目の横幅(135px) */
    border-top: 1px solid green; /* 項目上側の枠線(1pxの実線) */
 }
 ul.ddmenu ul li a {
    line-height: 35px;     /* サブメニュー1項目の高さ(35px) */
    text-align: left;      /* 文字列の配置(左寄せ) */
    padding-left: 5px;     /* 文字列前方の余白(5px) */
    font-weight: normal;   /* 太字にはしない */
 }
 ul.ddmenu ul li a:hover {
    background-color: #ffff80; /* サブメニュー項目にマウスが載ったときの背景色( */
    color: green;            /* サブメニュー項目にマウスが載ったときの文字色 */
 }
footer{ 
    font-size: 12px;
    text-align: center;
    background-color: rgb(255, 249, 249);
    clear: both;
}
body {
    font-family: メイリオ;
    }
/*p{
    background-color: rgb(243, 231, 255);
}*/
.main-contents{
   height: auto;
}
.left-navi, .right-navi {
    height: 500px;
      }


.main-contents{
    background-color: rgb(217, 255, 255);
    float: left;
    width: 80%;

}
.left-navi{
    background-color: rgb(255, 239, 228);
    font-size: 13px;
    float: right;
    width: 20%;
}
.right-navi{
    background-color: rgb(228, 228, 255);

    font-size: 13px;
    float: left;
    width: 20%;
}
.main{
    /*background-color: crimson; */
    width: 80%;
    float: right;
    margin: auto;
    padding: auto;
}
h5.date{
    color: rgb(137, 137, 155);
}
ul.gamenu {
    margin: 0px;               /* メニューバー外側の余白(ゼロ) */
    padding: 0px 0px 15px 15px; /* メニューバー内側の余白(左に15px) */
    
 }
 ul.gamenu li {
    width: 125px;          /* メニュー項目の横幅(125px) */
    display: inline-block; /* ★横並びに配置する */
    list-style-type: none; /* ★リストの先頭記号を消す */
    position: relative;    /* ★サブメニュー表示の基準位置にする */
 }
 ul.gamenu a {
    background-color: #f3ff8b; /* メニュー項目の背景色(濃い赤色) */
    color: black;              /* メニュー項目の文字色(白色) */
    line-height: 40px;         /* メニュー項目のリンクの高さ(40px) */
    text-align: center;        /* メインメニューの文字列の配置(中央寄せ) */
    text-decoration: none;     /* メニュー項目の装飾(下線を消す) */
    font-weight: bold;         /* 太字にする */
    display: block;            /* ★項目内全域をリンク可能にする */
 }
 ul.gamenu a:hover {
    background-color: #95af00; /* メニュー項目にマウスが載ったときの背景色(淡いピンク) */
    color: #efffc4;            /* メニュー項目にマウスが載ったときの文字色(濃い赤色) */
 }
